{% load static %}
<html>
    <head>
        
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            {% block title %}Sign Up{% endblock title %}

        </div>

        <div>
		{% block content %}
		<h2>Sign up</h2>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Sign Up</button>
			</form>
		{% endblock %}
        </div>

        
    </body>
</html>