<!doctype html>
<html>
<head>
</head>
<style>
button
{
display: inline-block;
margin: 0 auto;
}
.center{
text-align:center;

}
</style>
<body>
<div class="center">
    <button id="przycisk">Rozpocznij szukanie liczb pierwszych</button>
</div>
    <script id="FindPrimes" type="javascript/worker">
        self.onmessage = function (msg) {
            var view = new Uint8Array(msg.data),
                numPrimes = 0
            for (var i = 0; i < view.length; i++) {
                var primeCandidate = i + 2 
                var result = isPrime(primeCandidate)
                if (result) numPrimes++
                view[i] = result
            }
            self.postMessage({
                buffer: view.buffer,
                numPrimes: numPrimes
            })
        }

        function isPrime(candidate) {
            for (var n = 2; n <= Math.floor(Math.sqrt(candidate)); n++) {
                if (candidate % n === 0) return false
            }
            return true
        }
    </script>

    <script>
        document.querySelector('button').addEventListener('click', runTest)

        function runTest() {
            var buffer = new ArrayBuffer(1024 * 1024 * 10) 
            var view = new Uint8Array(buffer) 

            var blob = new Blob([document.querySelector('#FindPrimes').textContent]);
            blobURL = window.URL.createObjectURL(blob);

            performance.mark('testStart')
            var worker = new Worker(blobURL);
            worker.onmessage = function (msg) {
                performance.mark('testEnd')
                performance.measure('runTest', 'testStart', 'testEnd')
                var timeTaken = performance.getEntriesByName('runTest')[0].duration
                view.set(new Uint8Array(buffer), 0)
                alert(`Znaleziono ${msg.data.numPrimes} liczb pierwszych w czasie ${timeTaken} milisekund`)
                console.log(msg.data.numPrimes, view)
            }
            worker.postMessage(buffer)
        }
    </script>
</body>
</html>