{% load static %}
<html>
    <head>
        
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div>
            {% block title %}Log In{% endblock title %}

        </div>

        <div>
		{% block content %}
			<h2>Log In</h2>
				<form method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit">Log In</button>
				</form>
			
			<div>
				{% load socialaccount %}
				<ul>
				<li><a href="{% provider_login_url 'google' %}">Zaloguj sie z google</a></li>
				<li><a href='{% provider_login_url "facebook" method="oauth2" %}'>Zaloguj się z facebook</a></li>
				</ul>
			</div>
		{% endblock content %}
        </div>
		
        
    </body>
</html>